<% layout("./layouts/admin_boilerplate.ejs") %>

<body>
    <h1>Users Management</h1>
    <div class="users-table">
        <table>

        </table>
        
        <div class="btn-container">

        </div>
    </div>
    <div class="confirm-overlay" id="blockConfirm">
    <div class="confirmoverlay-cancelbtn">
            <i class="fa-solid fa-xmark"></i>
    </div>
  <div class="confirm-box">
    <h3>Disable User</h3>
    <p class="warning-text">
      
    </p>
    <div class="confirm-actions">
      <form class="block-form" method="post">
      <!-- <button class="cancel-block-btn" id="cancelBlock">Cancel</button> -->
      <button class="danger-btn" id="confirmBlock"></button>
      </form>
    </div>
  </div>
</div>
    <!-- <script src="/script.js"></script> -->
</body>